


/* =========================
   CONTAINER
========================= */

.container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

/* =========================
   GRID
========================= */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* =========================
   CARD
========================= */

.card {
    background: #117dc5;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: auto;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* IMAGE */

.card img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.05);
}

/* =========================
   CARD CONTENT
========================= */

.card-content {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.card-content h3 {
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    margin-bottom: 10px;
    color: #222;
}

.card-content p {
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    color: white;
}

/* =========================
   FOOTER
========================= */

footer {
    font-style: italic;
    font-size: 12px;
    text-align: right;
    padding: 40px 20px;
    background: #0556882d;
    color: white;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 600px) {

    .container {
        margin: 30px auto;
        padding: 0 10px;
    }

    .grid {
        gap: 20px;
    }

    .card-content {
        padding: 15px;
    }

}
